In [1]:
Hour=[2.5,5.1,3.2,8.5,3.5,1.5,9.2,5.5,8.3,2.7,7.7,5.9,4.5,3.3,1.1,8.9,2.5,1.9,6.1,7.4,2.7,4.8,3.8,6.9,7.8]
Scores=[21,47,27,75,30,20,88,60,81,25,85,62,41,42,17,95,30,24,67,69,30,54,35,76,86]

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
data= pd.DataFrame({'Hour':Hour,'Scores':Scores})

In [5]:
data

    Hour  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30
5    1.5      20
6    9.2      88
7    5.5      60
8    8.3      81
9    2.7      25
10   7.7      85
11   5.9      62
12   4.5      41
13   3.3      42
14   1.1      17
15   8.9      95
16   2.5      30
17   1.9      24
18   6.1      67
19   7.4      69
20   2.7      30
21   4.8      54
22   3.8      35
23   6.9      76
24   7.8      86

In [6]:
X=data['Hour']

In [7]:
Y=data.drop(['Hour'], axis=1)

In [8]:
X=data.drop(['Scores'],axis=1)

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test = train_test_split(X,Y, test_size=0.30)

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
lr=LinearRegression()

In [13]:
pred=lr.fit(x_train,y_train)

In [14]:
y_pred=pred.predict(x_test)

In [15]:
to_predict=[9.25]

In [16]:
y_p=pred.predict([to_predict])

In [17]:
print('The predicted score for student who studies ',to_predict[0],'is ',float(y_p))

The predicted score for student who studies  9.25 is  90.6475408952198